
*.bak
*.exe
*.orig
*.pdb
*.scc
*.suo
*.vbproj.user
*.vspscc
*.vssscc
LCConnections.xml*
TempScript/
Thumbs.db
VBNET/**/bin/*
VBNET/**/obj/*
!/VBNET/LCBeaconTrakUserControl/bin/Debug/MGScriptMgr.dll
!/VBNET/LCBeaconTrakUserControl/bin/Debug/WinStudioRuntime.dll
!/VBNET/LCBeaconTrakUserControl/bin/Debug/WSEnums.dll
!/VBNET/LCBeaconTrakUserControl/bin/Debug/WSXRuntime.dll
!VBNET/LabrTrak/cert2spc.exe
!VBNET/LabrTrak/certmgr.exe
!VBNET/LabrTrak/makecert.exe
!VBNET/LabrTrak/pvk2pfx.exe
!VBNET/LabrTrak/ResGen.exe
!VBNET/LabrTrak/ResGen35.exe
!VBNET/LabrTrak/ResGen40.exe
!VBNET/LabrTrak/signtool.exe
!VBNET/LCTools/obj/Release/
!VBNET/DTPDFPolling/bin/Debug/AppModule.HttpAdapter.dll
!VBNET/DTPDFPolling/bin/Debug/dscrt40.dll
!VBNET/DTPDFPolling/bin/Debug/fm40base.dll
!VBNET/DTPDFPolling/bin/Debug/fm40tiff.dll
!VBNET/DTPDFPolling/bin/Debug/Interop.PXCComLib.dll
!VBNET/DTPDFPolling/bin/Debug/ixclib40.dll
!VBNET/DTPDFPolling/bin/Debug/pxclib40.dll
!VBNET/DTPDFPolling/bin/Debug/xccdx40.dll
!VBNET/DTPDFPolling/bin/Debug/xcpro40.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.twain.client.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.1d.reader.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.1d.reader.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.dm.reader.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.dm.reader.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.pdf417.reader.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.pdf417.reader.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.qr.reader.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.barcode.qr.reader.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.filters.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.filters.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.image.gdimgplug.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.image.gdimgplug.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.jbig2.encoder.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.jbig2.encoder.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.ocr.tesseract.3.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.ocr.tesseract.3.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.omr.64.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.omr.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.PDF.dll
!VBNET/DTPDFPolling/bin/Debug/GdPicture.NET.9.twain.client.64.dll
!SETUP/CLIENT/LCFileMonitor.exe
!SETUP/ONECLICKDEPLOY/LCFileMonitor.exe
!TASKMAN/BASEFOLDER/LCMergeInfoPDF.exe
!TASKMAN/BASEFOLDER/LCMergePDF.exe
!TASKMAN/BASEFOLDER/LCOutputToPDF.exe
!TASKMAN/BASEFOLDER/LCPDFWork.exe
!TASKMAN/BASEFOLDER/LCWaterMark.exe
!TOOLS/HARDWARE/LCCompile.exe
!TOOLS/HARDWARE/LCTools.exe
!TOOLS/HARDWARE/IDORegSvr.exe
!VBNET/DTPDFPolling/cert2spc.exe
!VBNET/DTPDFPolling/certmgr.exe
!VBNET/DTPDFPolling/PDFX3.exe
!VBNET/DTPDFPolling/PDFX4.exe
!VBNET/DTPDFPolling/pvk2pfx.exe
